{%extends "base.html"%}

{% block content %}
    <form action="" method="post", enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}
        {% if obj.get_image_name %}
        <h1>
            <mark>Картинка: {{ obj.get_image_name }} добавлена успешно</mark>
        </h1>
        {%endif%}
        <!-- <input type="text" name="article" id="">
        <textarea name="body"></textarea> -->
        <input id="submit_news"type="submit" value="Создать">
    </form>

{% endblock %}